@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

$spacing-unit:        30px;

$blue-color-dark:     #1D2C3B;
$blue-color-light:    #1282B2;
$teal-color:          #52C69C;
$grey-color:          #7B948B;
$red-color:           #D1665E;
$cement-color-dry:    #89ABBF;
$cement-color-wet:    #B4D0DE;

$text-color:          #FFF;

$base-font-size:      16px;
$base-font-family: "Open Sans", Arial, sans-serif !default;

$content-width:    800px !default;

$on-device:        400px !default;
$on-palm:          600px !default;
$on-laptop:        800px !default;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

@mixin transition($t, $n) {
  -webkit-transition: $t $n; /* Safari, Chrome and Opera > 12.1 */
  -moz-transition: $t $n; /* Firefox < 16 */
  -ms-transition: $t $n; /* Internet Explorer */
  -o-transition: $t $n; /* Opera < 12.1 */
  transition: $t $n;
}


main {
  margin: 0 auto $spacing-unit auto;
  padding: $spacing-unit / 2;
  max-width: $content-width;
}









/* ANIMATION */

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/**
 * Reset some basic elements
 */


*, *:before, *:after {
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


/**
 * Basic styling
 */
body {
  background-color: darken($blue-color-dark, 5%);
  font-family: $base-font-family;
  font-weight: 400;
  color: $text-color;
  @include relative-font-size(1);
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
}


/**
  * Links
  */
a {
  color: $blue-color-light;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: $blue-color-light;
  }

  &:hover {
    color: $blue-color-light;
    text-decoration: underline;
  }
}


/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

pre {
  margin-top: $spacing-unit / 6;
}



/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}



/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
  max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: $spacing-unit;
  padding-left: $spacing-unit;

  @include media-query($on-laptop) {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
  }
}

/**
  * IMPORTS
  */
@import
"components/App/Header",
"components/SearchPage/SearchPage",
"components/SearchForm/SearchForm",
"components/AboutPage/AboutPage",
"components/NotFoundPage/NotFoundPage",
"components/Modal/Modal"
;
