.search-form {
  select {
    cursor: pointer;
    background-color: darken($cement-color-wet, 60%);
    padding: 0 $spacing-unit / 4;
    color: $text-color;
    height: $spacing-unit / 1.5;
    outline: none;
    border: none;
    border-radius: 0;
    // -webkit-appearance: none;
    border-image-width: 0;
    @include relative-font-size(.7);
  }
}

.input {
  background-color: darken($cement-color-wet, 60%);
  padding: $spacing-unit / 4 $spacing-unit / 2;

  &[type="search"] {
    max-width: $spacing-unit * 10;
    width: 100%;
  }
}

.btn {
  background-color: $blue-color-light;
  cursor: pointer;
  padding: 0 $spacing-unit / 3;
  @include transition(background-color, .2s);

  &:hover {
    background-color: darken($blue-color-light, 15%);
  }

  &[disabled] {
    color: $grey-color;
    background-color: darken($blue-color-light, 20%);
  }

  .fa-heart {
    color: $red-color;
  }
  .fa-heart-o {
    color: $teal-color;
  }
}

.btn, .input {
  color: $text-color;
  height: $spacing-unit;
  margin: $spacing-unit / 4 0;
  outline: none;
  border: none;
  display: inline-block;
}

.row {
  text-align: center;
  width: 100%;
}

.group {
  display: inline-block;
}


.search-bar {
  margin: 0 auto;

  .fa-search {
    margin: 0 4px;
  }

  .fa-heart {
    margin-right: 4px;
  }

  .feeling-lucky {
    margin: 0 $spacing-unit / 2;
  }
}

.search-options {
  @include relative-font-size(0.8);
  color: darken($text-color, 10%);

  .search-type {
    label {
      margin-right: $spacing-unit;
    }
    input {
      margin-right: $spacing-unit / 4;
    }
  }

  .sort-by {
    label {
      margin-right: $spacing-unit / 3;
    }

    .btn {
      height: $spacing-unit / 1.5;
    }
  }

  .select-count {
    margin-right: $spacing-unit;

    label {
      margin-right: $spacing-unit / 3;
    }
  }

  .date-filter {
    label {
      margin-right: $spacing-unit / 3;
    }
    input {
      height: $spacing-unit / 1.5;
      width: $spacing-unit * 3;
      text-align: center;
    }

    .date-picker {
      display: inline-block;
    }
  }

  .clear-filters {
    height: $spacing-unit / 1.5;
    margin: 0 0 0 $spacing-unit;;
  }

  .fa-filter {
    margin-right: 4px;
  }
}

.page-buttons {
  max-width: $content-width;
  text-align: center;

  .group-buttons {
    display: inline-block;
  }

  .btn {
    width: $spacing-unit * 4;

    &:first-child {
      margin-right: 5px;
    }
    &:last-child {
      margin-left: 5px;
    }
  }
}
