.wrapper {
  // @include transition(fadein, .2s);
  max-width: $content-width;
  text-align: center;
  position: relative;

  .error-message {
    background-color: $red-color;
    width: auto;
    display: inline-block;
    margin: 0 auto;
    padding: $spacing-unit / 2;
  }
}

.loader {
  margin: $spacing-unit;
}



.search-results {

  .sizer {
    width: calc(100%/3);
  }

  @include media-query($on-laptop) {
    .sizer {
      width: 50%;
    }
  }

  @include media-query($on-mobile) {
    .sizer {
      width: 100%;
    }
  }

  .results-count {
    color: $blue-color-light;
  }

  .card {
    height: $spacing-unit * 11;
    width: 250px;
    float: left;
    position: relative;
    cursor: pointer;
    color: $cement-color-wet;

    &:hover {
      background-color: $cement-color-dry;
      text-shadow: 1px 1px 1px $cement-color-dry;
      color: $text-color;
    }

    .name {
      position: absolute;
      z-index: 1;
      padding: 10px 7px;
      color: $text-color;
    }

    .img-wrapper {
      background-color: rgba($cement-color-dry, .4);
      padding: $spacing-unit / 4;
      text-align: center;
      margin: $spacing-unit / 4 auto;
      position: relative;
    }

    img {
      height: $spacing-unit * 6;
    }
  }

  .date {
    @include relative-font-size(.8);
    color: $grey-color;
    font-weight: 700;
    margin-left: 5px;
  }

  .description {
    @include relative-font-size(.8);
    padding: 0 5px;
  }

  .fav-btn {
    position: absolute;
    right: 0;
    top: 70px;
    background-color: none;
  }
}
